<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Products.css">
  <link rel="stylesheet" href="../../asets/css/shared.css">
</head>

<body>
  <div id="products">

    <header>
      <div class="buttons">
        <button class="ghost-button">PRODUCTS</button>
        <button class="solid-button">EXPENSES</button>
      </div>

      <div class="profile-picture">
        <img src="../../asets/images/profile-picture.jpg" alt="" class="picture">
        <h1 class="username">Nikolaj Grunoski</h1>
      </div>
    </header>



    <div class="table-container">
      <table style="width:100%">
        <tr class="header-line">
          <th>Product Name</th>
          <th>Product Type</th>
          <th>Product Description</th>
          <th>Purchase Date</th>
          <th>Product Price</th>
        </tr>
        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="row-lines">
          <td>coca cola</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>